<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mongoose Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/saved">Saved</a>
      <a class="nav-item nav-link" href="/scrape">Scrape</a>
    </div>
  </div>
</nav>


{{#if articles}}
  {{#each articles}}
  <div class="modal fade" id="modal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="Notes for article {{id}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{#each notes}}{{/each}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  <div class="container-fluid">
    <div class="row">
      <table class="table-striped col-lg-12">
        <tbody id="articles">
        {{#each articles}}
            <tr>
              <td class="headline text-center">
                <div class="headline"><a href="{{url}}"><h2>{{headline}}</h2></a>
                  <form method="POST" action="/unsave/{{id}}?_method=PUT">
                    <button type="submit" class="btn btn-primary save-button">Remove from Saved</button>
                  </form>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{id}}">
                    Add Notes
                  </button>
                </div>
                {{#if summary}}
                  <p class="summary">{{summary}}</p>
                {{/if}}
              </td>
            </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/if}}
